/* You can add global styles to this file, and also import other style files */
@import "assets/css/materialDesignColors.css";

@import "assets/fonts/vazir/font-face.css";

* {
  font-family: Roboto, 'Vazir', 'Vazir FD', "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
  direction: rtl;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

/*To remove border of button on focus*/
button:focus, button:active:focus, button.active:focus {
  outline: none !important;
}
