/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, 'Vazir', 'Vazir FD', "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;direction: rtl;
}

body {
  margin: 0; background-color: #f5f5f5;
}

.text-fa {
  text-align: right;
  }

.blue-gray-bg-50 {
  background-color: #eceff1;
}
