<div class="d-flex flex-row">
  <div class="d-flex align-items-center p-2">
    <img mat-card-avatar src="../../../assets/image/user.png" alt="User avatar" style="width: auto;height: 64px">
  </div>

  <div class="row p-0 flex-grow-1">

    <div class="col align-self-center">
      <p class="float-right">کاربر فعال: محمد محمدی</p>
    </div>

    <div class="col align-self-center">
      <p class="float-right">نقش : کارشناس وصول</p>
    </div>

    <div class="col-2 align-self-center">
      <p class="float-right">آخرین آپدیت طرح و برنامه : ۱۳۹۹/۰۷/۰۳</p>
    </div>

    <div class="col align-self-center">
      <p class="float-right">مبلغ کل پرنده ها : 212,3234,23432 ریال</p>
    </div>

    <div class="col align-self-center">
      <p class="float-right">مبلغ کل وصولی : 6543,344,44 ریال</p>
    </div>
  </div>


</div>
