<div [formGroup]="customerSearchForm" class="card" fxLayout="row">
  <div class="card-header" fxLayout="row" fxLayoutAlign="center center">
    <h6>{{customerSearchFormLang.customer}}</h6>
  </div>
  <div class="px-2" fxLayoutGap="0.5rem" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>{{customerSearchFormLang.name}}</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{customerSearchFormLang.family}}</mat-label>
      <input matInput formControlName="family">
    </mat-form-field>


    <mat-form-field>
      <mat-label>{{customerSearchFormLang.fatherName}}</mat-label>
      <input matInput formControlName="fatherName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{customerSearchFormLang.birthDate}}</mat-label>
      <input matInput formControlName="birthDate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{customerSearchFormLang.birthPlace}}</mat-label>
      <input matInput formControlName="birthPlace">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{customerSearchFormLang.nationalNumber}}</mat-label>
      <input matInput formControlName="nationalNumber">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{customerSearchFormLang.mobile}}</mat-label>
      <input
        matInput formControlName="mobile">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{customerSearchFormLang.postalCode}}</mat-label>
      <input
        matInput formControlName="postalCode">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{customerSearchFormLang.workPlacePhone}}</mat-label>
      <input matInput formControlName="workPlacePhone">
    </mat-form-field>

  </div>

</div>
