<mat-form-field [class]="customClass">
  <mat-chip-list #chipList aria-label="Model selection">
    <mat-chip
      *ngFor="let model of value"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(model)">
      {{getTitle(model)}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      [placeholder]="placeHolder"

      #modelInput
      [formControl]="modelCtrl"
      (input)="onInput($event)"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let model of filteredModels | async" [value]="model">
      {{getTitle(model)}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
