<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{lang.appTitle}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="onLogout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>

<div fxLayout="column" fxLayoutGap="0.5rem" class="p-2">
  <app-user-info></app-user-info>
  <mat-card>
    <nav mat-tab-nav-bar>
      <ng-container *ngFor="let link of linkList">
        <div mat-tab-link style="font-family: Vazir"
           routerLinkActive
           #rla="routerLinkActive"
           [active]="rla.isActive"
           *ngIf="link.visible"
           [routerLink]="link.routerLink">
          <mat-icon class="ml-2">{{link.iconName}}</mat-icon>
          {{link.title}}
        </div>

      </ng-container>
    </nav>

    <router-outlet></router-outlet>

  </mat-card>

</div>
