<div fxLayout="row" fxLayoutGap="1rem">
  <div class="card p-2 w-100" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1rem" fxFill>
      <header>
        <h4 class="text-center">{{!role ? lang.createNewRole : lang.editRole}}</h4>
        <hr>
      </header>
      <form [formGroup]="roleForm">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
          <mat-form-field>
            <mat-label>{{lang.roleName}}</mat-label>
            <input matInput formControlName="roleName">
            <mat-error *ngIf="isInvalidRoleName">{{lang.roleNameNotValid}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{lang.roleTitle}}</mat-label>
            <input matInput formControlName="roleTitle">
            <mat-error *ngIf="isInvalidRoleTitle">{{lang.roleTitleNotValid}}</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" *ngIf="!role else edit"
                  (click)="newRole()">{{lang.insert}}</button>
          <ng-template #edit>
            <button mat-raised-button color="accent" (click)="editRole()">{{lang.edit}}</button>
          </ng-template>
        </div>
      </form>

      <div fxLayout="row">

        <div class="card w-100">
          <div class="card-header text-right">{{lang.rolePrivileges}}</div>
          <mat-selection-list #currentPrvSelect  class="overflow-auto" style="max-height: 30rem">
            <mat-list-option *ngFor="let prv of currentPrivilegeList" [value]="prv" >
              <div fxLayout="row">
                <b>{{lang.privilegeName}}</b>:[{{prv.name}}] ,
                <b>{{lang.privilegeTitle}}</b>:[{{prv.title}}]
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
          <button mat-icon-button (click)="addPrivilege()">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button mat-icon-button (click)="subtractPrivilege()">
            <mat-icon>thumb_down</mat-icon>
          </button>
        </div>

        <div class="card w-100">
          <div class="card-header text-right">{{lang.remainingPrivileges}}</div>
          <mat-selection-list  #systemPrvSelect class="overflow-auto" style="max-height: 30rem">
            <mat-list-option  *ngFor="let prv of allSystemPrivilegeList" [value]="prv" >
              <div fxLayout="row">
                <b>{{lang.privilegeName}}</b>:[{{prv.name}}] ,
                <b>{{lang.privilegeTitle}}</b>:[{{prv.title}}]
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>


      </div>

    </div>
  </div>
  <div>
    <button mat-stroked-button color="primary" (click)="back()">
      <span>{{lang.back}}</span>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</div>
