<div fxLayout="row" fxLayoutAlign="start stretch">
  <mat-card class="w-75">
    <mat-card-title class="text-center card-header">{{lang.customerInformation}}</mat-card-title>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">


      <div fxLayout="column" formGroupName="person">
        <div fxLayout="row" fxLayoutGap="0.5rem">
          <mat-form-field class="flex-fill">
            <label>{{lang.name}}</label>
            <input matInput formControlName="firstName" [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field class="flex-fill">
            <label>{{lang.family}}</label>
            <input matInput formControlName="lastName" [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field class="flex-fill">
            <label>{{lang.fullName}}</label>
            <input matInput formControlName="fullName" [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field class="flex-fill">
            <label>{{lang.fatherName}}</label>
            <input matInput formControlName="fatherName" [errorStateMatcher]="matcher">
          </mat-form-field>

        </div>


        <div fxLayout="row" fxLayoutGap="0.5rem">
          <mat-form-field class="flex-fill">
            <label>{{lang.birthDate}}</label>
            <input matInput formControlName="birthDate" [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field class="flex-fill">
            <label>{{lang.birthPlace}}</label>
            <input matInput formControlName="birthPlace" [errorStateMatcher]="matcher">
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <label>{{lang.nationalNumber}}</label>
            <input matInput formControlName="nationalCode" [errorStateMatcher]="matcher">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="0.5rem">
          <mat-form-field class="flex-fill">
            <label>{{lang.mobile}}</label>
            <input
              matInput formControlName="phoneNumber" [errorStateMatcher]="matcher">
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <label>{{lang.postalCode}}</label>
            <input
              matInput formControlName="postalCode" [errorStateMatcher]="matcher">
          </mat-form-field>

          <mat-form-field>
            <label>{{lang.workPlacePhone}}</label>
            <input matInput formControlName="workPlacePhone" [errorStateMatcher]="matcher">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="w-100" fxLayoutGap="0.5rem">
          <button mat-raised-button class="px-5" color="accent">
            <mat-icon>edit</mat-icon>
            <span class="px-2">{{lang.edit}}</span>
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>

