.login {
  background-image: url("../../assets/image/back-image2.jpg");
  background-size:100%;
  background-position: center;
}
.imageBorder {
  border: 0.2rem solid green;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

