<div fxLayout="row" fxLayoutAlign="center center" fxFill class="login">
  <div class="back-panel" fxLayout="column" fxLayoutGap="4rem"
       fxLayoutAlign="start center">
    <img src="../../assets/image/logo.jpg" alt="logo" class="img-logo rounded-circle"/>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center stretch"
          class="form-panel">
      <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1rem">
        <h4 class="text-center" style="color: #757575">{{loginLang.loginMessage}}</h4>
        <mat-form-field appearance="outline">
          <mat-label>{{loginLang.usernameMessage}}</mat-label>
          <input matInput formControlName="username">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="isInvalidUserName">{{userErrorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{loginLang.passwordMessage}}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (keydown.space)="hide = !hide" (mousedown)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="isInvalidPassword">{{passwordErrorMessage}}</mat-error>
        </mat-form-field>
      </div>

      <button mat-button type="submit" class="login-button">{{loginLang.enterMessage}}</button>
    </form>
  </div>

</div>




