.login {
  background-color: #e0e0e0;
}

.back-panel {
  height: 48rem;
  width: 25rem;
  background-image: linear-gradient(to bottom, #327ee2 25%, #574cc1 50%, white 50%);
  box-shadow: 0 0.5rem 1.5rem #616161;
  padding-top: 5rem;
}

.img-logo {
  width: 11rem;
  height: 11rem;
}

.form-panel {
  box-shadow: 0 0.8rem 1rem #bdbdbd;
  border-radius: 0.8rem;
  width: 90%;
  background-color: white;
  padding: 1rem 1rem 0 1rem ;
}

.login-button {
  background-color: #416ad5;
  color: whitesmoke;
  border-radius: 2rem;
  padding: 0.3rem 0;
  box-shadow: 0 0.8rem 1rem #bdbdbd;
  position: relative;
  top: 1.5rem;
}
