<div fxLayout="row" fxLayoutAlign="start stretch" fxLayout.sm="column">
  <aside class="p-2 w-50 h-100">
    <form [formGroup]="userSearchForm" (ngSubmit)="onSearchUser()" fxLayout="row" fxLayoutAlign="start center"
          fxLayoutGap="0.5rem">
      <mat-form-field>
        <mat-label>{{lang.username}}</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>{{lang.active}}</mat-label>
        <mat-select formControlName="isActive">
          <mat-option value="none"><--></mat-option>
          <mat-option value="true">{{lang.active}}</mat-option>
          <mat-option value="false">{{lang.inactive}}</mat-option>
        </mat-select>
      </mat-form-field>


      <button mat-stroked-button type="submit" color="primary">
        <span class="px-2">{{lang.search}}</span>
        <mat-icon>search</mat-icon>
      </button>

      <button mat-stroked-button type="button" (click)="onUserSearchReset()" color="accent">
        <span class="px-2">{{lang.reset}}</span>
        <mat-icon>undo</mat-icon>
      </button>
    </form>

    <div class="card">
      <div class="text-center card-header">{{lang.userList}}</div>
      <data-table [tableColumns]="userTableColumns" [httpDataSource]="userHttpDatasource"
                  (selectedValueChange)="onUserSelectChange($event)"></data-table>
    </div>
  </aside>

  <article class="py-5 px-2 w-50 border-right" fxLayout="column" fxLayoutGap="0.5rem">

    <section fxLayout="row" fxLayout.sm="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem" class="w-100">

      <form [formGroup]="newUserFormGroup" fxLayout="column" fxFlex="75" fxLayoutAlign="end stretch" class="h-100"
            fxLayoutGap="1rem">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
          <mat-form-field fxFlex="50">
            <mat-label>{{lang.username}}</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="isInvalidUsername">{{lang.usernameNotValid}}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50">
            <mat-label>{{lang.password}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (keydown.space)="hide = !hide" (mousedown)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="isInvalidUsername">{{lang.passwordNotValid}}</mat-error>
          </mat-form-field>

        </div>


        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
          <autocomplete [placeHolder]="lang.personRole" fxFlex="50" customClass="w-100" [isMulti]="false" idFieldName="id" titleFieldName="firstName+lastName" [suggestionUrl]="personSuggestionUrl" [(value)]="selectedPerson"></autocomplete>

          <mat-form-field fxFlex="50">
            <mat-label>{{lang.code}}</mat-label>
            <input matInput type="number" formControlName="code" >
            <mat-error *ngIf="isInvalidUsername">{{lang.codeNotValid}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
          <autocomplete [placeHolder]="lang.selectRole" fxFlex="90" customClass="w-100" [isMulti]="true" idFieldName="id" titleFieldName="title" [suggestionUrl]="roleSuggestionUrl" [(value)]="selectedRoles"></autocomplete>
          <mat-checkbox checked="checked" formControlName="isActive">{{lang.active}}</mat-checkbox>
        </div>

      </form>

      <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="25" class="userImage">
        <img mat-card-image src="../../assets/image/user.png" alt="User avatar">
        <mat-card-actions>
          <button mat-button>{{lang.new}}</button>
          <button mat-button>{{lang.delete}}</button>
        </mat-card-actions>
      </mat-card>
    </section>


    <section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <button mat-raised-button color="primary" (click)="newUser()">
        <span class="px-2">{{lang.insert}}</span>
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="updateUser()">
        <span class="px-2">{{lang.edit}}</span>
        <mat-icon>mode_edit</mat-icon>
      </button>
    </section>

  </article>

</div>
