<div fxLayout="row" fxLayoutAlign="start stretch"  fxLayout.sm="column">
  <aside class="p-2 w-50 h-100">
    <form [formGroup]="userSearchForm" (ngSubmit)="onSearchUser()" fxLayout="row" fxLayoutAlign="start center"
          fxLayoutGap="0.5rem">
      <mat-form-field>
        <mat-label>{{lang.username}}</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-checkbox  checked="checked" formControlName="isActive">{{lang.active}}</mat-checkbox>
      <button mat-flat-button type="submit" color="primary">{{lang.search}}</button>
    </form>

    <div class="card">
      <div class="text-center card-header">{{lang.userList}}</div>
      <data-table [tableColumns]="userTableColumns" [httpDataSource]="userHttpDatasource" (selectedValueChange)="onUserSelectChange($event)"></data-table>
    </div>
  </aside>

  <article class="py-5 px-2 w-50 border-right" fxLayout="column" fxLayoutGap="0.5rem">

    <section fxLayout="row" fxLayout.sm="column" fxLayoutAlign="start center" fxLayoutGap="0.5rem" class="w-100">

      <form [formGroup]="newUserFormGroup" fxLayout="column" fxFlex="75" fxLayoutAlign="end stretch" class="h-100"
            fxLayoutGap="1rem">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
          <mat-form-field fxFlex="50">
            <mat-label>{{lang.username}}</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="isInvalidUsername">{{lang.usernameNotValid}}</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50">
            <mat-label>{{lang.password}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (keydown.space)="hide = !hide" (mousedown)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="isInvalidUsername">{{lang.passwordNotValid}}</mat-error>
          </mat-form-field>

        </div>


        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
          <mat-form-field fxFlex="50">
            <input type="text"
                   [placeholder]="lang.personRole"
                   aria-label="Number"
                   matInput
                   [formControl]="personAutocompleteControl"
                   [matAutocomplete]="personAuto">
            <mat-autocomplete autoActiveFirstOption #personAuto>
              <mat-option *ngFor="let person of personOptions | async"
                          [value]="person.firstName + ' ' + person.lastName" [id]="person.id">
                {{person.firstName}} {{person.lastName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field fxFlex="50">
            <mat-label>{{lang.code}}</mat-label>
            <input matInput formControlName="code">
            <mat-error *ngIf="isInvalidUsername">{{lang.codeNotValid}}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
          <form (ngSubmit)="addRole()" fxFlex="50" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
            <mat-form-field fxFlex="90">
              <input type="text"
                     [placeholder]="lang.selectRole"
                     aria-label="Number"
                     matInput
                     [formControl]="roleControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let role of roleOptions | async" [value]="role.title" [id]="role.id">
                  {{role.title}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <button mat-mini-fab color="primary" type="submit" >
              <mat-icon>add</mat-icon>
            </button>
          </form>
          <mat-checkbox  checked="checked" formControlName="isActive">{{lang.active}}</mat-checkbox>
        </div>

      </form>

      <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="25" class="userImage">
        <img mat-card-image src="../../assets/image/user.png" alt="User avatar">
        <mat-card-actions>
          <button mat-button>{{lang.new}}</button>
          <button mat-button>{{lang.delete}}</button>
        </mat-card-actions>
      </mat-card>
    </section>


    <section>
      <div class="card">
        <div class="card-header text-right">{{lang.userRoles}}</div>
        <mat-list class="overflow-auto" style="max-height: 15rem">
          <mat-list-item *ngFor="let role of roleList">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 border-bottom">
              <div [class]="role.active ? '' : 'disableRole'">{{role.role.title}}</div>
              <div fxLayout="row" fxLayoutGap="0.3rem">
                <button mat-icon-button color="primary">
                  <mat-icon>pageview</mat-icon>
                </button>
                <button mat-icon-button (click)="onUserRoleDelete(role)" [color]="role.active ? 'accent' :'primary'">
                  <mat-icon>{{role.active ? 'highlight_off ' : 'add_circle_outline'}}</mat-icon>
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </section>

    <section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
      <button mat-raised-button color="primary" (click)="newUser()">{{lang.insert}}</button>
      <button mat-raised-button color="accent" (click)="updateUser()">{{lang.edit}}</button>
    </section>

  </article>

</div>
