<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="my-1">
  <div>
    <button mat-stroked-button [disabled]="!id" routerLink="../following/{{id}}"
            [class]="!id ? 'px-5 mx-2':'px-5 mx-2 bg-deep-orange-500 deep-orange-50'">{{documentToolbarLang.followUp}}</button>
    <button mat-stroked-button [disabled]="!id" routerLink="../guarantors/{{id}}"
            [class]="!id ? 'px-5 mx-2': 'px-5 mx-2 bg-indigo-500 indigo-50' ">{{documentToolbarLang.guarantorInfo}}</button>
    <button mat-stroked-button [disabled]="!id" routerLink="../customers/{{id}}"
            [class]="!id ? 'px-5 mx-2' :'px-5 mx-2 bg-light-blue-500 light-blue-50'">{{documentToolbarLang.customerInfo}}</button>
    <button mat-stroked-button [disabled]="!id"
            [class]="!id ? 'px-5 mx-2' : 'px-5 mx-2 bg-green-500 green-50'">{{documentToolbarLang.contents}}</button>
    <button mat-stroked-button [disabled]="!id"
            [class]="!id ? 'px-5 mx-2': 'px-5 mx-2 bg-deep-purple-500 deep-purple-50'">{{documentToolbarLang.financialSituation}}</button>
    <button mat-stroked-button [disabled]="!id"
            [class]="!id ? 'px-5 mx-2':'px-5 mx-2 bg-purple-500 purple-50'">{{documentToolbarLang.changeStatus}}</button>
    <button mat-stroked-button [disabled]="!id"
            [class]="!id ? 'px-5 mx-2':'px-5 mx-2 bg-brown-500 brown-50'">{{documentToolbarLang.projectFlow}}</button>
  </div>

  <div>
    <button color="" mat-icon-button>
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>cached</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>find_in_page</mat-icon>
    </button>
  </div>
</mat-toolbar>
