<div class="card my-1">
  <table mat-table [dataSource]="httpDataSource" matSort class="w-100">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell  style="min-width: 5rem" *matHeaderCellDef>
          __
      </th>
      <td mat-cell style="min-width: 5rem"  *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="toggle(row,$event)"
                      [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="rowNo">
      <th mat-header-cell style="min-width: 5rem"  *matHeaderCellDef mat-sort-header> {{rowNoTitle}}</th>
      <td mat-cell style="min-width: 5rem"  *matCellDef="let element; let i = index;"> {{i + 1 }} </td>
    </ng-container>

    <ng-container *ngFor="let col of tableColumns" [matColumnDef]="col.fieldName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.title}}</th>
      <td mat-cell *matCellDef="let element"> {{applyPip(handelDot(element, col.fieldName),col.pipNames) }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" [length]="totalRecord$ | async" [pageSize]="5"
                 showFirstLastButtons></mat-paginator>

</div>
