<div fxLayout="column" fxLayoutAlign="center none">
  <mat-card fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.5rem">
  <mat-card-header>
    <h4>{{lang.projectFollowing}}</h4>
  </mat-card-header>
    <form [formGroup]="followingForm" (ngSubmit)="onSubmit()" fxLayout="column"
           class="w-100">
      <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0.5rem">


      <div fxLayout="column" fxLayoutAlign="center none" class="card p-2 w-50">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
          <mat-form-field appearance="standard">
            <mat-label>{{lang.followingType}}</mat-label>
            <mat-select formControlName="pursuitType">
              <mat-option *ngFor="let pursuitType of pursuitTypeList" [value]="pursuitType.value">
                {{pursuitType.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox formControlName="coordinateAppointment"
                        class="example-margin">{{this.lang.coordinateAppointment}}</mat-checkbox>
          <mat-checkbox (change)="onCustomerDepositChange($event)" formControlName="customerDeposit"
                        class="example-margin">{{this.lang.customerDepositAmount}}</mat-checkbox>

        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
          <mat-form-field appearance="standard">
            <mat-label>{{lang.followingResult}}</mat-label>
            <mat-select formControlName="resultType">
              <mat-option *ngFor="let resultType of resultTypeList" [value]="resultType.value">
                {{resultType.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox formControlName="depositAppointment">{{lang.depositAppointment}}</mat-checkbox>

          <mat-checkbox formControlName="submitAccordingFinal">{{lang.submitAcordingToFinalAction}}</mat-checkbox>

        </div>

        <div fxLayout="row">
          <mat-form-field appearance="outline" class="flex-fill">
            <mat-label>{{lang.followingResultDescription}}</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="column" fxLayoutAlign="space-between none" class="card p-2 w-25">
        <mat-form-field appearance="standard">
          <mat-label>{{lang.depostidAmount}}</mat-label>
          <input matInput currencyMask [options]="{ prefix: '', thousands: ',', decimal: '', precision: 0 }" formControlName="depostidAmount" >
          <span matSuffix>ریال&nbsp;</span>
        </mat-form-field>

        <mat-form-field color="accent" appearance="standard">
          <mat-label>{{lang.nextFollowingDate}}</mat-label>
          <input matInput formControlName="nextPursuitDate" [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
            <label for="file">{{lang.attachedBrowse}}</label>
            <input type="file" [disabled]="fileUploadDisable"
                   id="file" #fileInput
                   (change)="handleFileInput($event.target.files)">
          </div>
      </div>

      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" class="px-5">{{lang.save}}</button>
      </div>
    </form>
    <data-table [httpDataSource]="followingHttpDataSource" [title]="lang.tableTitle" [selectable]="false" [columnSelectable]="false" [tableColumns]="followingTableColumn"></data-table>
  </mat-card>


</div>

