<div fxLayout="column" fxLayoutAlign="center none">
  <mat-card fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.5rem">
    <h5 class="text-right py-2 mb-4 border-bottom ">{{lang.projectFollowing}}</h5>
    <div fxLayout="row" fxLayoutGap="2rem">
      <h6>{{this.lang.contractNumber}} : {{this.contractDto?.contractNumber}}</h6>
      <h6>{{this.lang.customerName}} : {{this.contractDto?.customers[0]?.person?.fullName}}</h6>
    </div>
    <form [formGroup]="followingForm" fxLayout="column"
          class="w-100">
      <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0.5rem">


        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" class="card p-2 w-50">
          <div fxLayout="column" fxLayoutAlign="stat start" fxLayoutGap="1rem" class="w-25">
            <mat-form-field appearance="standard">
              <mat-label>{{lang.followingType}}</mat-label>
              <mat-select formControlName="pursuitType">
                <mat-option *ngFor="let pursuitType of pursuitTypeList" [value]="pursuitType.value">
                  {{pursuitType.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-checkbox formControlName="coordinateAppointment">{{this.lang.coordinateAppointment}}</mat-checkbox>

          </div>

          <div fxLayout="column" fxLayoutAlign="stat start" fxLayoutGap="1rem">
            <mat-form-field appearance="standard">
              <mat-label>{{lang.followingResult}}</mat-label>
              <mat-select formControlName="resultType">
                <mat-option *ngFor="let resultType of resultTypeList" [value]="resultType.value">
                  {{resultType.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-checkbox formControlName="customerDeposit">{{this.lang.customerDepositAmount}}</mat-checkbox>
          </div>

        </div>

        <div fxLayout="column" fxLayoutAlign="space-between none" class="card p-2 w-50">
          <mat-form-field appearance="standard">
            <mat-label>{{lang.depostidAmount}}</mat-label>
            <input matInput currencyMask [options]="{ prefix: '', thousands: ',', decimal: '', precision: 0 }"
                   formControlName="depostidAmount">
            <span matSuffix>ریال&nbsp;</span>
          </mat-form-field>

          <mat-form-field color="accent" appearance="standard">
            <mat-label>{{lang.nextFollowingDate}}</mat-label>
            <input matInput formControlName="nextPursuitDate" [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>


          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
            <label for="file">{{lang.attachedBrowse}}</label>
            <input type="file"
                   id="file" #fileInput
                   (change)="handleFileInput($event.target.files)">
          </div>
        </div>

      </div>
        <div fxLayout="row">
          <mat-form-field appearance="outline" class="flex-fill" style="min-height: 16rem">
            <mat-label>{{lang.followingResultDescription}}</mat-label>
            <textarea matInput formControlName="description" style="min-height: 16rem"></textarea>
          </mat-form-field>
        </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1rem">
        <button mat-raised-button color="warn" class="px-5" [disabled]="deleteDisabled" (click)="onDelete()">
          <span class="px-2">{{lang.delete}}</span>
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button color="accent" class="px-5" [disabled]="editDisabled" (click)="onEdit()">
          <span class="px-2">{{lang.edit}}</span>
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="px-5" (click)="onSave()">
          <span class="px-2">{{lang.save}}</span>
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
    <data-table #table [httpDataSource]="followingHttpDataSource" [title]="lang.tableTitle" [selectable]="true"
                [columnSelectable]="false" (selectedValueChange)="onSelectedValueChange($event)" [tableColumns]="followingTableColumn"></data-table>
  </mat-card>


</div>

