<div fxLayout="column" fxLayoutGap="1rem" class="m-2">
  <h5 class="text-right py-2 mb-4 border-bottom ">{{financialStatusLang.pageTitle}}</h5>
  <div fxLayout="row" fxLayoutGap="1rem">
    <h6>{{financialStatusLang.totalAmount}} : {{totalAmount | thousandPip:'r'}}</h6>
    <h6>{{financialStatusLang.receiveAmount}} : {{receiveAmount | thousandPip:'r'}}</h6>
  </div>

</div>

<data-table [httpDataSource]="paymentHttpDataSource" [title]="financialStatusLang.tableTitle" [tableColumns]="tableColumns" [selectable]="false" [columnSelectable]="false"></data-table>
