/*This color code com from https://www.materialpalette.com/colors*/

.bg-brown-50 {
  background-color: #efebe9;
}

.bg-brown-100 {
  background-color: #d7ccc8;
}

.bg-brown-200 {
  background-color: #bcaaa4;
}

.bg-brown-300 {
  background-color: #a1887f;
}

.bg-brown-400 {
  background-color: #8d6e63;
}

.bg-brown-500 {
  background-color: #795548;
}

.bg-brown-600 {
  background-color: #6d4c41;
}

.bg-brown-700 {
  background-color: #5d4037;
}

.bg-brown-800 {
  background-color: #4e342e;
}

.bg-brown-900 {
  background-color: #3e2723;
}


.brown-50 {
  color: #efebe9;
}

.brown-100 {
  color: #d7ccc8;
}

.brown-200 {
  color: #bcaaa4;
}

.brown-300 {
  color: #a1887f;
}

.brown-400 {
  color: #8d6e63;
}

.brown-500 {
  color: #795548;
}

.brown-600 {
  color: #6d4c41;
}

.brown-700 {
  color: #5d4037;
}

.brown-800 {
  color: #4e342e;
}

.brown-900 {
  color: #3e2723;
}
