/*This color code com from https://www.materialpalette.com/colors*/

.bg-deep-orange-50 {
  background-color: #fbe9e7;
}

.bg-deep-orange-100 {
  background-color: #ffccbc;
}

.bg-deep-orange-200 {
  background-color: #ffab91;
}

.bg-deep-orange-300 {
  background-color: #ff8a65;
}

.bg-deep-orange-400 {
  background-color: #ff7043;
}

.bg-deep-orange-500 {
  background-color: #ff5722;
}

.bg-deep-orange-600 {
  background-color: #f4511e;
}

.bg-deep-orange-700 {
  background-color: #e64a19;
}

.bg-deep-orange-800 {
  background-color: #d84315;
}

.bg-deep-orange-900 {
  background-color: #bf360c;
}

.bg-deep-orange-A100 {
  background-color: #ff9e80;
}

.bg-deep-orange-A200 {
  background-color: #ff6e40;
}

.bg-deep-orange-A400 {
  background-color: #ff3d00;
}

.bg-deep-orange-A700 {
  background-color: #dd2c00;
}


.deep-orange-50 {
  color: #fbe9e7;
}

.deep-orange-100 {
  color: #ffccbc;
}

.deep-orange-200 {
  color: #ffab91;
}

.deep-orange-300 {
  color: #ff8a65;
}

.deep-orange-400 {
  color: #ff7043;
}

.deep-orange-500 {
  color: #ff5722;
}

.deep-orange-600 {
  color: #f4511e;
}

.deep-orange-700 {
  color: #e64a19;
}

.deep-orange-800 {
  color: #d84315;
}

.deep-orange-900 {
  color: #bf360c;
}

.deep-orange-A100 {
  color: #ff9e80;
}

.deep-orange-A200 {
  color: #ff6e40;
}

.deep-orange-A400 {
  color: #ff3d00;
}

.deep-orange-A700 {
  color: #dd2c00;
}
