/*This color code com from https://www.materialpalette.com/colors*/

.bg-deep-purple-50 {
  background-color: #ede7f6;
}

.bg-deep-purple-100 {
  background-color: #d1c4e9;
}

.bg-deep-purple-200 {
  background-color: #b39ddb;
}

.bg-deep-purple-300 {
  background-color: #9575cd;
}

.bg-deep-purple-400 {
  background-color: #7e57c2;
}

.bg-deep-purple-500 {
  background-color: #673ab7;
}

.bg-deep-purple-600 {
  background-color: #5e35b1;
}

.bg-deep-purple-700 {
  background-color: #512da8;
}

.bg-deep-purple-800 {
  background-color: #4527a0;
}

.bg-deep-purple-900 {
  background-color: #311b92;
}

.bg-deep-purple-A100 {
  background-color: #b388ff;
}

.bg-deep-purple-A200 {
  background-color: #7c4dff;
}

.bg-deep-purple-A400 {
  background-color: #651fff;
}

.bg-deep-purple-A700 {
  background-color: #6200ea;
}


.deep-purple-50 {
  color: #ede7f6;
}

.deep-purple-100 {
  color: #d1c4e9;
}

.deep-purple-200 {
  color: #b39ddb;
}

.deep-purple-300 {
  color: #9575cd;
}

.deep-purple-400 {
  color: #7e57c2;
}

.deep-purple-500 {
  color: #673ab7;
}

.deep-purple-600 {
  color: #5e35b1;
}

.deep-purple-700 {
  color: #512da8;
}

.deep-purple-800 {
  color: #4527a0;
}

.deep-purple-900 {
  color: #311b92;
}

.deep-purple-A100 {
  color: #b388ff;
}

.deep-purple-A200 {
  color: #7c4dff;
}

.deep-purple-A400 {
  color: #651fff;
}

.deep-purple-A700 {
  color: #6200ea;
}

