<div class="card p-2">
  <h5 class="text-right py-2 mb-4 border-bottom ">{{lang.documentAttachment}}</h5>
  <div fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
      <h6 class="p-0 my-0">{{lang.documentNumber}}: {{documentNumber}}</h6>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5rem">
        <label for="file">{{lang.chooseFile}}</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
      </div>
      <button mat-raised-button type="button" (click)="attach()" color="primary">{{lang.attachDocument}}</button>
    </div>
    <data-table [httpDataSource]="attachmentHttpDataSource" [tableColumns]="tableColumns"
                [title]="lang.attachDocumentHistory"
                [selectable]="false" [columnSelectable]="false"></data-table>
  </div>
</div>
