<div class="card p-2">
  <h5 class="text-right py-2 mb-4 border-bottom ">{{lang.title}}</h5>
  <div fxLayout="column" fxLayoutGap="2rem">
    <form fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" [formGroup]="changeExpertFormGroup"
          (ngSubmit)="changeExpert()">

      <span>{{lang.documentNumber}}: {{documentNumber}}</span>
      <mat-form-field fxFlex="25">
        <mat-label>{{lang.newExpert}}</mat-label>
        <input matInput formControlName="newExpert">
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary">{{lang.referToExpert}}</button>
    </form>
    <div>
    <h6 class="text-right ">{{lang.changeExpertHistory}}</h6>
    <data-table></data-table>
    </div>
  </div>
</div>
