<div class="card p-2">
  <h5 class="text-right py-2 mb-4 border-bottom ">{{lang.title}}</h5>
  <div fxLayout="column" fxLayoutGap="2rem">
    <form fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" [formGroup]="changeExpertFormGroup"
          (ngSubmit)="changeExpert()">

      <span>{{lang.documentNumber}}: {{documentNumber}}</span>
      <mat-form-field fxFlex="50">
        <input type="text"
               [placeholder]="lang.newExpert"
               aria-label="Number"
               matInput
               [formControl]="newExpertAutocompleteControl"
               [matAutocomplete]="newExpertAuto">
        <mat-autocomplete autoActiveFirstOption #newExpertAuto>
          <mat-option *ngFor="let user of userOptions | async"
                      [value]="user.username + ' (' + user.firstName + ' ' + user.lastName + ')'" [id]="user.id">
           {{user.username}} ({{user.firstName}} {{user.lastName}})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary">{{lang.referToExpert}}</button>
    </form>
    <div>
    <h6 class="text-right ">{{lang.changeExpertHistory}}</h6>
    <data-table [httpDataSource]="catalogHttpDataSource" [tableColumns]="tableColumns" [selectable]="false"></data-table>
    </div>
  </div>
</div>
