<div [formGroup]="documentSearchForm" class="card" fxLayout="row">
  <div class="card-header" fxLayout="row" fxLayoutAlign="center center">
    <h6>{{documentSearchFormLang.document}}</h6>
  </div>
  <div class="px-2" fxLayoutGap="0.5rem" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>{{documentSearchFormLang.facilityNumber}}</mat-label>
      <input matInput formControlName="facilityNumber">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{documentSearchFormLang.status}}</mat-label>
      <input matInput formControlName="status">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{documentSearchFormLang.registrationDate}}</mat-label>
      <input matInput formControlName="registrationDate">
    </mat-form-field>

  </div>

</div>
