<mat-card class="p-1" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5rem">

  <div class="card p-2 blue-gray-bg-50" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="space-around center"
       fxLayoutGap="1rem">
    <img mat-card-avatar src="../../assets/image/user.png" alt="User avatar" class="avatar">
    <img mat-card-avatar src="../../assets/image/doc.png" alt="User avatar" class="avatar">
  </div>
  <div fxLayout="column" fxLayoutGap="0.5rem" class="w-100">
    <div fxLayout="row" fxLayoutGap="0.5rem" fxLayout.xs="column">
      <!-- TODO must find alternative of  class="flex-fill" in angular flexLayout     -->
      <app-user-info-detail class="flex-fill" *ngFor="let userInfo of userStatistic.userInfoList;" [key]="userInfo.key"
                            [value]="userInfo.value"></app-user-info-detail>
    </div>
    <div fxLayout="row" fxLayoutGap="0.5rem" fxLayout.xs="column">
      <!-- TODO must find alternative of  class="flex-fill" in angular flexLayout     -->
      <app-user-info-detail class="flex-fill" *ngFor="let docInfo of userStatistic.documentInfoList;" [key]="docInfo.key"
                            [value]="docInfo.value"></app-user-info-detail>
    </div>
  </div>

</mat-card>
