<div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0.5rem">
  <div class="w-25 card">
    <div class="text-center card-header">{{lang.guarantorList}}</div>
    <div class="card-title">
      <mat-selection-list #GLSelect (selectionChange)="guarantorSelectChange()" class="overflow-auto"
                          style="max-height: 20rem" #shoes
                          [multiple]="false">
        <mat-list-option *ngFor="let guarantorDto of guarantorDtoList" [value]="guarantorDto">
          {{guarantorDto?.person?.fullName}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="p-2 card w-75">
    <form [formGroup]="guarantorsForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutGap="1rem" formGroupName="person">

        <div fxLayout="row" fxLayoutGap="0.5rem">
          <mat-form-field class="flex-fill">
            <label>{{lang.name}}</label>
            <input matInput formControlName="fullName" [errorStateMatcher]="matcher">
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <label>{{lang.fatherName}}</label>
            <input matInput formControlName="fatherName" [errorStateMatcher]="matcher">
          </mat-form-field>

        </div>


        <div fxLayout="row" fxLayoutGap="0.5rem">
          <mat-form-field color="accent" appearance="standard" class="flex-fill">
            <mat-label>{{lang.birthDate}}</mat-label>
            <input matInput formControlName="birthDate" [matDatepicker]="picker2" [errorStateMatcher]="matcher">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <label>{{lang.birthPlace}}</label>
            <input matInput formControlName="birthPlace" [errorStateMatcher]="matcher">
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <label>{{lang.nationalNumber}}</label>
            <input matInput formControlName="nationalCode" [errorStateMatcher]="matcher">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="0.5rem">
          <mat-form-field class="flex-fill">
            <label>{{lang.postalCode}}</label>
            <input
              matInput formControlName="postalCode" [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field>
            <label>{{lang.workPlacePhone}}</label>
            <input matInput formControlName="workPlacePhone" [errorStateMatcher]="matcher">
          </mat-form-field>
        </div>
        <div class="card" fxLayout="column" fxLayoutGap="0.5rem">
          <div fxLayout="column" fxLayoutAlign="center center" class="text-center card-header">
            {{lang.contactList}}
          </div>
          <div class="card-title">
            <mat-selection-list class="border mx-2" #contactSelect role="list" (selectionChange)="contactSelectChange()"
                                [multiple]="false">
              <mat-list-option *ngFor="let contactWrapper of contactWrapperList" [value]="contactWrapper.contact">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <span
                    [class]="contactWrapper.active ? '' : 'disableRole'">{{contactWrapper.contact | contactToFlatStringPipe}}</span>
                  <button mat-icon-button type="button" (click)="onContactDelete(contactWrapper)"
                          [color]="contactWrapper.active ? 'accent' :'primary'">
                    <mat-icon>{{contactWrapper.active ? 'highlight_off ' : 'add_circle_outline'}}</mat-icon>
                  </button>

                </div>
              </mat-list-option>
            </mat-selection-list>
          </div>
          <form [formGroup]="contactForm" class="card-body border-right" fxLayout="column"
                fxLayoutAlign="start stretch">
            <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
              <mat-form-field>
                <input matInput formControlName="number" [placeholder]="contactLang.number">
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="phoneType" [placeholder]="contactLang.phoneType">
                  <mat-option *ngFor="let phoneType of phoneTypeList" [value]="phoneType.value">
                    {{phoneType.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-checkbox formControlName="confirmed">{{contactLang.confirmed}}</mat-checkbox>
              <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="0.5rem" class="w-100 justify-content-end">
                <button mat-stroked-button color="primary" (click)="addNewContact()">{{lang.new}}</button>
                <button mat-stroked-button color="accent" (click)="editContact(contactSelect)">{{lang.edit}}</button>
              </div>
            </div>

            <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
              <mat-form-field appearance="outline" class="flex-fill">
                <textarea matInput formControlName="description" [placeholder]="contactLang.description"></textarea>
              </mat-form-field>
            </div>

          </form>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="w-100" fxLayoutGap="0.5rem">
          <button mat-raised-button type="submit" class="px-5" color="accent">
            <mat-icon>edit</mat-icon>
            <span class="px-2">{{lang.edit}}</span>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>

