<div  fxLayout="column" >
<!--  <form class="example-form">-->
    <mat-form-field  fxLayoutAlign="right">
      <label>{{lang.name}}</label>
      <input
        matInput [formControl]="lang.name"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field  fxLayoutAlign="right">
    <label>{{lang.family}}</label>
    <input
      matInput [formControl]="lang.family"
      [errorStateMatcher]="matcher"
    >
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
    <mat-form-field  fxLayoutAlign="right">
      <label>{{lang.fatherName}}</label>
      <input
        matInput [formControl]="lang.fatherName"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field  fxLayoutAlign="right">
      <label>{{lang.birthDate}}</label>
      <input
        matInput [formControl]="lang.birthDate"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field  fxLayoutAlign="right">
      <label>{{lang.birthPlace}}</label>
      <input
        matInput [formControl]="lang.birthPlace"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field  fxLayoutAlign="right">
      <label>{{lang.nationalNumber}}</label>
      <input
        matInput [formControl]="lang.nationalNumber"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field  fxLayoutAlign="right">
      <label>{{lang.mobile}}</label>
      <input
        matInput [formControl]="lang.mobile"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field  fxLayoutAlign="right">
      <label>{{lang.postalCode}}</label>
      <input
        matInput [formControl]="lang.postalCode"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field  fxLayoutAlign="right">
      <label>{{lang.workPlacePhone}}</label>
      <input
        matInput [formControl]="lang.workPlacePhone"
        [errorStateMatcher]="matcher"
      >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
<!--  </form>-->
</div>
