<mat-accordion>
  <mat-expansion-panel class="my-1 p-0 bg-light-blue-50" [expanded]="true" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h6 class="m-0">{{documentSearchLang.searchPanel}}</h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <form [formGroup]="parentForm" (ngSubmit)="onSearch()" fxLayout="column" fxLayoutAlign="start start"
          fxLayoutGap="0.5rem">
      <!-- Document Search -->
      <div [formGroup]="documentSearchFormGroup" class="card" fxLayout="row">
        <div class="card-header" fxLayout="row" fxLayoutAlign="center center">
          <h6>{{documentSearchLang.document}}</h6>
        </div>
        <div class="px-2" fxLayoutGap="0.5rem" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field>
            <mat-label>{{documentSearchLang.facilityNumber}}</mat-label>
            <input matInput formControlName="facilityNumber">
          </mat-form-field>

          <mat-form-field appearance="standard">
            <mat-label>{{documentSearchLang.status}}</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let contractStatus of contractStatusList" [value]="contractStatus.value">
                {{contractStatus.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field color="accent" appearance="standard">
            <mat-label>{{documentSearchLang.registrationDate}}</mat-label>
            <input matInput formControlName="registrationDate" [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>

        </div>

      </div>

      <!-- Customer Search  -->
      <div [formGroup]="customerSearchFormGroup" class="card" fxLayout="row">
        <div class="card-header" fxLayout="row" fxLayoutAlign="center center">
          <h6>{{documentSearchLang.customer}}</h6>
        </div>
        <div class="px-2" fxLayoutGap="0.5rem" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field>
            <mat-label>{{documentSearchLang.name}}</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{documentSearchLang.fatherName}}</mat-label>
            <input matInput formControlName="fatherName">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{documentSearchLang.nationalNumber}}</mat-label>
            <input matInput formControlName="nationalNumber">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{documentSearchLang.mobile}}</mat-label>
            <input
              matInput formControlName="mobile">
          </mat-form-field>

        </div>

      </div>

      <!--Bank/Machine Search  -->
      <div [formGroup]="bankMachineSearchFormGroup" class="card" fxLayout="row">
        <div class="card-header" fxLayout="row" fxLayoutAlign="center center">
          <h6>{{documentSearchLang.bankMachine}}</h6>
        </div>
        <div class="px-2" fxLayoutGap="0.5rem" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field>
            <mat-label>{{documentSearchLang.bank}}</mat-label>
            <input matInput formControlName="bank">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{documentSearchLang.branch}}</mat-label>
            <input matInput formControlName="branch">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{documentSearchLang.facilityReceivingDate}}</mat-label>
            <input matInput formControlName="facilityReceivingDate">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{documentSearchLang.plateNumber}}</mat-label>
            <input matInput formControlName="plateNumber">
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{documentSearchLang.vehicleType}}</mat-label>
            <input matInput formControlName="vehicleType">
          </mat-form-field>

        </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="center center" class="w-100" fxLayoutGap="0.5rem">
        <button type="submit" mat-raised-button color="primary" class="px-5">
          <span class="px-2">{{documentSearchLang.search}}</span>
          <mat-icon>search</mat-icon>
        </button>
        <button type="reset" mat-raised-button color="accent" class="px-5" (click)="onResetForm()">
          <span class="px-2">{{documentSearchLang.reset}}</span>
          <mat-icon>undo</mat-icon>
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
